In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Resources/cities.csv")

In [3]:
df.head()

,Unnamed: 0,Name,Country,Lattitude,Longitude,Max Temperature (k),% Humidity,Wind Speed,Cloud Coverage,Time
0,0,Mataura,NZ,-46.19,168.86,294.26,47,4.02,0,22:48 04-10-2020
1,1,Vaini,TO,-21.20,-175.20,300.15,65,3.60,20,22:48 04-10-2020
2,2,Bengkulu,ID,-3.80,102.27,302.61,63,0.93,100,22:48 04-10-2020
3,3,Ilulissat,GL,69.22,-51.10,272.15,46,4.60,61,22:48 04-10-2020
4,4,Busselton,AU,-33.65,115.33,304.82,28,3.24,51,22:48 04-10-2020

In [5]:
del df['Unnamed: 0']

In [9]:
df.set_index(df['Name'], inplace=True)
del df['Name']
df.head()

,Country,Lattitude,Longitude,Max Temperature (k),% Humidity,Wind Speed,Cloud Coverage,Time
Name,,,,,,,,
Mataura,NZ,-46.19,168.86,294.26,47,4.02,0,22:48 04-10-2020
Vaini,TO,-21.20,-175.20,300.15,65,3.60,20,22:48 04-10-2020
Bengkulu,ID,-3.80,102.27,302.61,63,0.93,100,22:48 04-10-2020
Ilulissat,GL,69.22,-51.10,272.15,46,4.60,61,22:48 04-10-2020
Busselton,AU,-33.65,115.33,304.82,28,3.24,51,22:48 04-10-2020

In [10]:
df.to_html('data.html')